.linkGroup{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.linkGroup a{
  text-decoration: none;
  color: black;
}
.linkGroup a:hover{
  color: #BD0028;
}

.contactResource{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.costumCopyright a{
  text-decoration: none;
  color: black;
}
.costumCopyright a:hover{
  color: #BD0028;
}
.costumLowerFooter{
  border-bottom: 1px solid black;
}