.costumTopHeader{
  border-bottom: 1px solid black;
}
.custumSearch input{
  width: 100%;
  border-radius: 1rem 0 0 1rem;
  padding: 0.3rem 0 0.3rem 0.5rem;
  border: none;
  background-color: #F4F4F4;
}
.custumSearch input:active{
  border: 2px solid #BD0028;
}
.custumSearch button{
  background-color: #BD0028;
  border-radius: 0 1rem 1rem 0;
  font-size: 1.5rem;
  color: white;
  padding: 0.3rem;
}
.customBtnGroup button{
  background-color: white;
  border: none;
  font-size: 1.5rem;
}
#user{
  font-size: 1.2rem;
}
.viewCartBtn{
  background-color: #BD0028;
  border-radius: 0.3rem;
  padding: 0.3rem;
  color: white;
  border: none;
}
.viewCartBtn:hover{
  background-color: #a30225;
}

/* bottom header css */

.linkGroup{
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
.linkGroup a{
  text-decoration: none;
  color: black;
}
.linkGroup a:hover{
  color: #BD0028;
}
.costumDropdown{
  background-color: white;
}
@media(max-width:768px){

}
@media(max-width:576px){

}