/* Home page Features css */
.costumFeature{
  display: flex;
  gap:0.6rem
  
}
.costumFeature:hover{
  padding-top: 0.4rem;
  border-radius: 0.7rem;
  border: 1px solid #BD0028;
}
.costumFeature .icon-i{
  color: #BD0028;
  font-size: 4rem;
}
.feature-content h6{
  font-size: 0.9rem;
  font-weight: 700;
  color: #BD0028;
}
.feature-content p{
  font-size: 0.8rem;
}

/* css of not found component */
.costumNotFound{
  height: 70vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.costumNotFound p{
  color: #BD0028;
  font-size: 1.3rem;
  font-weight: 700;
}

/* badge css */
.bag-button {
  background: none;
  border: none;
  position: relative;
  padding: 0;
}

.icon-wrapper {
  position: relative;
  display: inline-block;
}

.costum-badge {
  position: absolute;
  top: -1px;
  right: -9px;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  font-size: 0.7rem;
  font-weight: 700;
  background-color: #BD0028;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* WhatsApp Button css */
@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-8px); }
  100% { transform: translateY(0); }
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  color: white;
  padding: 12px 18px;
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  z-index: 1000;
  animation: float 1s ease-in-out infinite;

}

.whatsapp-button:hover {
  transform: scale(1.05);
  background-color: #1ebc59;
}