/* Home page Features css */
.costumFeature{
  display: flex;
  gap:0.6rem
  
}
.costumFeature:hover{
  padding-top: 0.4rem;
  border-radius: 0.7rem;
  border: 1px solid #BD0028;
}
.costumFeature .icon-i{
  color: #BD0028;
  font-size: 4rem;
}
.feature-content h6{
  font-size: 0.9rem;
  font-weight: 700;
  color: #BD0028;
}
.feature-content p{
  font-size: 0.8rem;
}

/* css of not found component */
.costumNotFound{
  height: 70vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.costumNotFound p{
  color: #BD0028;
  font-size: 1.3rem;
  font-weight: 700;
}

/* badge css */
.costum-badge{
  position: absolute;
  top:3.3rem;
  width: 1.6rem;
  height: 1.6rem;
  right: 6.5rem;
  border-radius: 50% ;
  padding: 0.25rem;
  font-size: 0.8rem;
  background-color: #BD0028;
  color: white;
}